<div class="model-formset">
	<h2>Notes</h2>
	{{ formset.management_form }}
	{% for form in formset.forms %}
		<div class="{% if form.initial %}bound{% else %}unbound{% endif %} model-form">
			{{ form.content.errors }}
			{{ form.content }}
			{{ form.reference_date }}
			{{ form.id }}
			<a class="remove" href="#">Remove</a>
			<span class="delete">{{ form.DELETE }}</span>
		</div><!--/.model-form-->
	{% endfor %}
	<div class="initial-message">
		<p>Add a note.</p>
	</div><!--/.initial-message-->
	<a class="add" href="#">Add another</a>
</div><!--/.model-formset-->
