<div class="model-formset">
	<h2>IM Accounts</h2>
	{{ formset.management_form }}
	<div class="model-forms">
		{% for form in formset.forms %}
			<div class="{% if form.initial %}bound{% else %}unbound{% endif %} model-form">
				{{ form.username.errors }}
				{{ form.username }}
				{{ form.service }}
				{{ form.type }}
				{{ form.id }}
				<a class="remove" href="#">Remove</a>
				<span class="delete">{{ form.DELETE }}</span>
			</div><!--/.model-form-->
		{% endfor %}
	</div><!--/.model-forms-->
	<div class="initial-message">
		<p>Add an IM account.</p>
	</div><!--/.initial-message-->
	<a class="add" href="#">Add another</a>
</div><!--/.model-formset-->
