<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	{% block extra_head %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
	{% block body %}
		<h1>{% block content_title %}{% endblock %}</h1>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	{% endblock %}

	<script type="text/javascript" src="{{ MEDIA_URL}}addressbook/js/jquery-1.3.2.min.js"></script>
	{% block extra_body %}{% endblock %}
</body>
</html>
