<form id="add-party" method="post" action=".">

	{{ form.as_p }}

	<h4>Email Addresses</h4>
	{{ email_formset.management_form }}
	{% for email_form in email_formset.forms %}
		{{ email_form.as_p }}
	{% endfor %}

	<h4>Street Addresses</h4>
	{{ street_formset.management_form }}
	{% for street_form in street_formset.forms %}
		{{ street_form.as_p }}
	{% endfor %}

	<h4>Phone Numbers</h4>
	{{ phone_formset.management_form }}
	{% for phone_form in phone_formset.forms %}
		{{ phone_form.as_p }}
	{% endfor %}

	<h4>Websites</h4>
	{{ website_formset.management_form }}
	{% for website_form in website_formset.forms %}
		{{ website_form.as_p }}
	{% endfor %}

	<h4>IM Accounts</h4>
	{{ im_formset.management_form }}
	{% for im_form in im_formset.forms %}
		{{ im_form.as_p }}
	{% endfor %}

	<h4>Notes</h4>
	{{ note_formset.management_form }}
	{% for note_form in note_formset.forms %}
		{{ note_form.as_p }}
	{% endfor %}

	<input type="submit" class="submit" value="Submit" />

</form>
