{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body_id %}dashboard{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}

	<form id="live-filter" method="get" autocomplete="off" action=".">
		{{ form.as_p }}
		<input type="submit" class="submit" value="Search" />
	</form>

	{% include "addressbook/includes/search_results_paginated.html" %}

{% endblock %}

{% block extra_body %}
	<script type="text/javascript" src="{{ MEDIA_URL }}addressbook/js/live-filter.js"></script>
{% endblock %}
