{% extends "base.html" %}

{% block title %}{{ block.super }} | People | {{ object }}{% endblock %}

{% block content_title %}Person{% endblock %}

{% block content %}

	<h2>{{ object }}</h2> 
	{% if object.organization or object.title %}
		<h3>
			{% if object.title %}
				{{ object.title }}
			{% endif %}
			{% if object.organization and object.title %}
				at
			{% endif %}
			{% if object.organization %}
				<a href="{{ object.organization.get_absolute_url }}">{{ object.organization }}</a>
			{% endif %}
		</h3>
	{% endif %}
	(<a href="{% url addressbook_person_edit object.id %}">Edit</a>)

	{% include "addressbook/includes/party_contact_info_display.html" %}

{% endblock %}
